.pink {
    background-color: #facfcf;
}

.yellow {
    background-color: #fef0d6;
}

.blue {
    background-color: #d2dae9;
}

.nav-link {
    color: #cf7878;
    font-family:  "Montserrat", sans-serif;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 55px;
}

h2, h3, h4 {
    font-family: "Playfair Display", serif;
}

p, li {
    font-family:  "Montserrat", sans-serif;
}

.semicircle {
    height: 150px;
    width: 120px;
    border-radius: 200% 200% 0 0;
    border: 2px dashed #8ba9e0;
    background-color: #facfcf;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
  }

#profile {
    height: 250px;
    border-radius: 50%;
}

.goodreads {
    color: #cf7878;
}

.pink-btn {
    background-color: #facfcf;
    border-color: #cf7878;
    color: #cf7878;
}

.blue-btn {
    background-color: #d2dae9;
    border-color: #8ba9e0;
    font-family:  "Montserrat", sans-serif;
}

.yellow-btn {
    background-color: #fef0d6;
    border-color: #f2c97f;
    font-family:  "Montserrat", sans-serif;
}
  
